# Eero Account credentials
EERO_LOGIN=user@example.com

# InfluxDB Configuration
INFLUX_URL=http://influxdb:8086
INFLUX_TOKEN=my-super-secret-auth-token-123
INFLUX_ORG=eero-stats-org
INFLUX_BUCKET=eero
